<h1>Task Details</h1>
<p>
Task: <%=@task.title%>
<br>
Details: <%=@task.details%>
<br>
Completed: - <%=@task.completed%>
<br>
</p>
<%= link_to 'tasks page', tasks_path%>
<br>
<br>
<%= link_to 'Delete', task_path(@task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %>
